[source,http,options="nowrap"]
=== Request

----
{{#headers}}
{{name}} : {{value}}
{{/headers}}
----------------------------------------------------------------
Method : {{method}}
Path : {{path}}
Request Body : {{requestBody}}
----