|===
|Path|Parameter|Description|Attribute

{{#parameters}}
    |{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
    |{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
    |{{#tableCellContent}}{{description}}{{/tableCellContent}}
    |{{#tableCellContent}}{{#attribute}}{{attribute}}{{/attribute}}{{/tableCellContent}}
{{/parameters}}
|===